<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="fromMailAddress" value="dams.notifier@gmail.com"/>
    <add key="Host_smtp" value="smtp.gmail.com"/>
    <add key="login" value="dams.notifier@gmail.com"/>
    <add key="password" value="DAMS2020"/>
    <add key="NameAdmin" value="Boss"/>
  </appSettings>
</configuration>