<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FromMailAddress" value="dams.notifier@gmail.com"/>
    <add key="Host_smtp" value="smtp.gmail.com"/>
    <add key="Login" value="dams.notifier@gmail.com"/>
    <add key="Password" value="DAMS2020"/>
    <add key="NameAdmin" value="Boss"/>
  </appSettings>
</configuration>