<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TelegramBotToken" value="1203508145:AAFYSqqz66zVYJ9xP5MU_kr0JwZDprIhiQE" />
		<add key="Reguest" value="https://api.telegram.org/bot1203508145:AAFYSqqz66zVYJ9xP5MU_kr0JwZDprIhiQE/sendMessage?chat_id="/>
		<add key="RestClient" value="https://api.telegram.org"/>
	</appSettings>
</configuration>