<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TelegramBotToken" value="1203508145:AAFYSqqz66zVYJ9xP5MU_kr0JwZDprIhiQE" />
		<add key="Reguest" value="https://api.telegram.org/bot{0}/sendMessage?chat_id={1}"/>
		<add key="TelegramURL" value="https://api.telegram.org"/>
	</appSettings>
</configuration>